.splash-container {
  position: fixed;
  inset: 0;

  /* Igual que el body */
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png'),
                    url('./assets/fondo.webp');
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-position: top left, center;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2000;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.splash-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

.peach {
  width: 300px;   /* ajusta el tamaño según tus imágenes */
  height: auto;
  transition: transform 1s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Mitad izquierda */
.peach.left {
  left: 50%;
  transform: translate(-100%, -50%); /* justo pegada al centro */
  z-index: 2;
}

/* Mitad derecha */
.peach.right {
  left: 50%;
  transform: translate(0, -50%); /* justo pegada al centro */
  z-index: 1;
}

/* Animación de apertura */
.peach.left.open {
  transform: translate(-140%, -50%) rotate(-15deg);
}

.peach.right.open {
  transform: translate(40%, -50%) rotate(15deg);
}

/* Texto curvado */
/* Texto curvado detrás del melocotón */
.splash-text {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%; /* empieza en el centro del melocotón */
  left: 50%;
  width: 500px;
  height: 200px;
  transform: translate(-50%, -30%) scale(0.2);
  transition: transform 1.2s ease-in-out;
  z-index: 0; /* poner detrás del melocotón */
}


.splash-text.open {
  transform: translate(-50%, -50%) scale(1.5); 
  /* -120% para moverlo arriba y scale 1.5 para agrandarlo */
}



